# Byte-compiled / cached
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Env files
config.env
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Streamlit
.streamlit/

# Atlassian
.atl/
